* {
    font-family: 'PT Sans Narrow', sans-serif;
}

/* Header Styling */
header {
    padding: 20px;
    border: 5px solid purple;
    background: white;
}

.heading {
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}


a:visited {
    color: white;
}


/* Body Styling */

body {
    background: url("../Images/purple.jpg") center center fixed;
    background-size: cover;
}

.box {
    margin: 100px 100px;
    border: 5px solid purple;
    text-align: center;
    background-color: white;
    position: relative;
}

.quiz-header {
    font-size: 40px; 
}

.score-container {
    padding: 100px 10px;
    font-size: 20px;
}
.score-list {
    height: 30px;
    background-color: rgb(209, 180, 209);
    text-align: left;
    font-weight: bold;
}

/* Button Styling */
.score {  
    width: 100%
}

#scoreBtn {
    height: 60px;
    width: 200px;
    padding: 10px;
    margin: 20px;
    color: white;
    background-color: purple;
    font-size: 20px;
}

#scoreBtn:hover {
    opacity: 75%;
}

