* {
    font-family: 'PT Sans Narrow', sans-serif;
}
    
/* Header Styling */
header {
    padding: 20px;
    border: 5px solid purple;
    background-color: white;
}

.score-page {
    font-size: 40px;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

.timer {
    float: right;
    font-size: 40px;
    font-weight: bold;
}

/* Body Styling */

body {
    background: url("../Images/purple.jpg") center center fixed;
    background-size: cover;
}

.box {
    margin: 100px 100px;
    border: 5px solid purple;
    text-align: center;
    background-color: white;
    position: relative;
}

.quiz-header {
    font-size: 40px; 
}

.quiz-body {
    padding: 70px 10px;
    font-size: 30px;
}
.yes-no {
    font-size: 25px;
    font-weight: bold;
    color: purple;
}

/* Button Styling */
.go {
    height: 60px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    color: white;
    font-size: 20px;
    background-color: purple;
}

.go:hover {
    opacity: 75%;
}

#ans {
    height: 40px;
    width: 400px;
    margin: 5px;
    color: white;
    background-color: purple;
    outline: none;
    font-size: 20px;
    display: block;
}

#ans:hover {
   opacity: 75%;
}

/* Submit page */

p {
    display: inline;
    font-size: 30px;
}

.name {
    height: 30px;
    width: 400px;
    font-size: 18px;
}

.submit {
    display: block;
    height: 55px;
    width: 160px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    background-color: purple;
}

/* Media Queries */
@media screen and (max-width: 683px) {
    #ans {
        width: 200px;
        height: 60px;
    }
}

@media screen and (max-width: 468px) {
    #ans {
        width: 100px;
        height: 100px;
    }
}