/* Header Styling */
header {
    padding: 20px;
    border: 5px solid purple;
}

.nav {
    display: inline;
}

.score-page {
    font-size: 30px;
    font-weight: bold;
    display: inline;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

.timer {
    display: inline;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

/* Body Styling */

.box {
    margin: 100px auto;
    height: 500px;
    width: 500px;
    border: 5px solid purple;
    text-align: center;
}

.quiz-body {
    padding: 70px 10px;
    font-size: 20px;
}

/* Button Styling */

.go {
    height: 60px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: purple;
}

.go:hover {
    opacity: 75%;
}

.answers {
    float: left;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px;
}

#ans {
    height: 40px;
    width: 200px;
    color: white;
    background-color: purple;
    outline: none;
}

#ans:hover {
   opacity: 75%;
}

