* {
    font-family: 'PT Sans Narrow', sans-serif;
}


    
/* Header Styling */
header {
    padding: 20px;
    border: 5px solid purple;
    background-color: white;
}

.nav {
    display: inline;
}

.score-page {
    font-size: 30px;
    font-weight: 900;
    display: inline;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

.timer {
    display: inline;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

/* Body Styling */

body {
    background: url("../Images/purple.jpg") center center fixed;
    background-size: cover;
}

.box {
    margin: 100px auto;
    height: 500px;
    width: 500px;
    border: 5px solid purple;
    text-align: center;
    background-color: white;
}

.quiz-header {
    font-size: 40px;
    
}

.quiz-body {
    padding: 70px 10px;
    font-size: 30px;
}

/* Button Styling */

.go {
    height: 60px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    color: white;
    font-size: 20px;
    background-color: purple;
}

.go:hover {
    opacity: 75%;
}

.answers {
    float: left;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px;
}

#ans {
    height: 40px;
    width: 400px;
    color: white;
    background-color: purple;
    outline: none;
    font-size: 20px;
}

#ans:hover {
   opacity: 75%;
}

.yes-no {
    font-size: 25px;
    font-weight: bold;
    color: purple;
}

/* Submit page */

p {
    display: inline;
    font-size: 18px;
}
.submit {
    display: block;
    height: 45px;
    width: 150px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 5px;
    color: white;
    font-size: 18px;
    background-color: purple;
}

.name {
    height: 20px;
    width: 200px;
    font-size: 18px;
}